.container {
	max-width: 1240px;
	min-height: calc(100vh - 80px - 88px - 140px);
	padding: 0 20px;
	margin: auto;
	margin: 140px auto 0;
}

.content {
	text-align: center;
	max-width: 640px;
	margin: auto;
}

.nutritionGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	max-width: 560px;
	width: 100%;
	margin: 32px auto 20px;
}
