.container {
	max-width: 1240px;
	min-height: calc(100vh - 80px - 88px - 100px);
	padding: 0 20px;
	margin: auto;
	margin: 100px auto 0;
}

.content {
	display: flex;
	align-items: start;
	gap: 60px;
}

.leftSide {
	display: flex;
	flex-direction: column;
	min-width: 320px;
}

.leftSide a {
	display: flex;
	align-items: center;
	height: 64px;
	width: fit-content;
}

.logoutButton {
	display: flex;
	align-items: center;
	height: 64px;
	width: fit-content;
	background: transparent;
	border: 0;
	text-align: left;
	cursor: pointer;
}

.activeLink {
	color: white;
}

.rightSide {
	max-width: calc(1240px - 320px - 60px);
	width: 100%;
}
