.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 80px - 88px);
	padding: 0 20px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: center;
	max-width: 480px;
}

.button404 {
	display: flex;
	justify-content: center;
}

.link {
	color: white;
	text-decoration: none;
	width: fit-content;
}
